.bgfixed
{
  background-image: url('https://static.pexels.com/photos/6548/cold-snow-winter-mountain.jpeg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
