.bgfixed
{
  background-image: url('http://img07.deviantart.net/2af9/i/2015/025/9/d/sempiternal_by_justme255-d8fboxu.jpg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.hasJS
{
  display: none;
}
